<div class="ltf-w-30 ltf-center ltf-ptop-3">
    <nz-card [nzTitle]="forgotPasswordCardTitle">
        <ng-template #forgotPasswordCardTitle>
            <div class="ltf-txt-center">
                <h1>Esqueci a senha</h1>
            </div>
        </ng-template>
        <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="sendMail()">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="errorMailTemplate">
                    <nz-input-group nzPrefixIcon="mail">
                        <input type="email" nz-input formControlName="userMail" placeholder="Email" />
                    </nz-input-group>
                    <ng-template #errorMailTemplate let-control>
                        <ng-container *ngIf="control.hasError('required')">Informe seu email</ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">Email inválido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <div class="ltf-txt-center ltf-ptop-1">
                <button nz-button nzBlock [nzType]="'primary'">Enviar</button>
            </div>
            <div class="ltf-txt-center ltf-ptop-1">
                <a [routerLink]="['/login']" nz-typography>Cancelar</a>
            </div>
        </form>
    </nz-card>
</div>