/* You can add global styles to this file, and also import other style files */

.ltf-txt-center { text-align: center; }

.ltf-center { margin: 0 auto; }

.ltf-clickable { cursor: pointer; }

.ltf-w-1 { width: 10%; }
.ltf-w-2 { width: 20%; }
.ltf-w-3 { width: 30%; }
.ltf-w-4 { width: 40%; }
.ltf-w-5 { width: 50%; }
.ltf-w-6 { width: 60%; }
.ltf-w-7 { width: 70%; }
.ltf-w-8 { width: 80%; }
.ltf-w-9 { width: 90%; }
.ltf-w-10 { width: 100%; }

.ltf-ptop-1 { padding-top: 1em; }
.ltf-ptop-2 { padding-top: 2em; }
.ltf-ptop-3 { padding-top: 3em; }
.ltf-ptop-4 { padding-top: 4em; }
.ltf-ptop-5 { padding-top: 5em; }
